.sidebar {
  margin-right: _size(section-spacing);
  min-width: 22em;
  width: 22em;
  background-color: #f4f4f4;
  padding-top: 5em;
  padding-right: 2em;
  margin-right: 10em;
}
.sidebar h2 {
  margin-top: 1em;
}

.potrait {
  border-bottom: 0;
  display: inline-block;
  margin: 0 0 (_size(element-margin) * 0.5) 0;
  overflow: hidden;
  position: relative;

  width: 14em;
  border-radius: 50%;
  display: block;
  margin-bottom: 1em;
}

.side_bar_bio {
  border-bottom: 0;
}

.intro {
  position: relative;
}

.intro a {
  color: black;
}

.link-icon {
  size: 20em;
}
.footer {
  margin-top: 1em;
}

.copyright {
  
  margin-top: 1em;
}
